Respect `Cache-Control` header

> If I'm not mistaken, I see that the cache lifetime is only set explicitly in the plugin (and defaults to 24 hours). 
>
> So any setting we'd make server-side would not affect the cache lifetime at all.
> 
> From the operational standpoint, that could easily be confusing in the future, since we tend to expect clients to respect the `Cache-Control` header.
> 
> Respecting the `Cache-Control` header would also make any future changes to the cache lifetime  easier, since we wouldn't depend on the plugin version the client is using.
> 
> Can this implementation be made to respect the `Cache-Control` header on the `tos.json` response, if present, and only fall back to a default if that is not present? 
> 
> Ideally, if no `Cache-Control` header is present, the implementation would also follow [RFC 7234, section 4.2.2](https://datatracker.ietf.org/doc/html/rfc7234#section-4.2.2), and set the cache lifetime to e.g. 10% of the time that has passed since the `Last-Modified` header (this header is always set by S3).

_Originally posted by @morremeyer in https://github.com/anaconda/anaconda-conda-tos/pull/46#pullrequestreview-2412518460_
            